<nav class="navbar is-light pt-2 pb-2" role="navigation" aria-label="main navigation">
    <div class="container is-justify-content-center">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/" routerLinkActive="is-active">
            Evolución 📈
          </a>
          <a class="button is-warning" routerLink="/tendencias" routerLinkActive="is-active">
            Tendencias 📊
          </a>
        </div>
      </div>
    </div>
</nav>

<section class="container py-5">
  <router-outlet></router-outlet>
</section>
