<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container is-justify-content-center">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            Today
          </a>
          <a class="button is-danger">
           Past
          </a>
          <a class="button is-info">
            Trends
          </a>
        </div>
      </div>
    </div>
</nav>

<section class="container py-5">
  <router-outlet></router-outlet>
</section>
