<div class="box">
    <p class="title is-6 has-text-centered">{{ rate.name }} 💵</p>
    <div class="columns is-mobile">
        <div class="column">
            <div class="has-text-success has-background-success-light has-text-centered">Venta: {{ rate.values.pv | number : '1.0-3' }}</div>
        </div>
        <div class="column">
            <div class="has-text-danger has-background-danger-light has-text-centered">Compra: {{ rate.values.pc | number : '1.0-3' }}</div>
        </div>
    </div>
</div>
